@model List<Package>
<div class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Tatil Paketleri</h5>
            <h1 class="mb-0">Tatil Fırsatları</h1>
        </div>
        <div class="packages-carousel owl-carousel">
            @foreach (var item in Model)
            {
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="@item.ImageUrl" class="img-fluid w-100 rounded-top" alt="Image">
                        <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute" style="width: 100%; bottom: 0; left: 0; z-index: 5;">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt me-2"></i>@item.Destination.CityName - @item.Destination.country.Name</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt me-2"></i>@item.DayCount gün</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user me-2"></i>@item.PersonCount kişi</small>
                        </div>
                        <div class="packages-price py-2 px-3">@item.Price₺</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">@item.Title</h5>
                            <small class="text-uppercase">@item.HotelName</small>
                            <div class="mb-3">
                                @for (int i = 0; i < item.HotelStar; i++)
                                {
                                    <small class="fa fa-star text-primary"></small>
                                }
                                @for (int i = 0; i < 5 - item.HotelStar; i++)
                                {
                                    <small class="far fa-star text-primary"></small>
                                }
                            </div>
                            <p class="mb-4">@item.Description</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="#" class="btn-hover btn text-white py-2 px-4">Daha fazlası</a>
                            </div>
                            <div class="col-6 text-end px-0">
                                <a href="#" class="btn-hover btn text-white py-2 px-4">Rezervasyon yapın</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .packages-img img {
        width: 100%;
        height: 200px; /* İstediğiniz yüksekliği belirleyin */
        object-fit: cover;
    }
</style>

